<!--List -->
<div class=" w-100 bg-menu table-info font-weight-bold " style="margin-bottom: 0">
    <div class="w-100">
      <!-- Create Customer  -->
      <div class="row d-flex justify-content-between">
        <div class="col-5">
        <button id="modal1" type="button" class="btn btn-primary" data-toggle="modal" data-target="#create">Create
          Customer
        </button>
        </div>
        <div class="col-5" style="height: auto">
        <div  class="form-inline my-2 " style="margin-left: 50px">
          <input [(ngModel)]="nameSearch" class="form-control " type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success " type="submit" style="color: #241d1d" (click)="searchCustomer()">Search</button>
        </div></div>
      </div>

      <!-- End Create Customer  -->
      <h1 style="text-align: center">Danh sách khách hàng</h1>
      <table class="table table-striped" id="employeeList">
        <thead>
        <tr>
          <th>#</th>
          <th>Mã khách hàng</th>
          <th>Tên khách hàng</th>
          <th>Giới tính</th>
          <th>Ngày sinh</th>
          <th>Căn cước công dân</th>
          <th>Số điện thoại</th>
          <th>Địa chỉ</th>
          <th>Loại khách hàng</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let customer of customerList">
          <td>{{customer.id}}</td>
          <td>{{customer.codeCustomer}}</td>
          <td>{{customer.nameCustomer}}</td>
          <td>{{customer.gender}}</td>
          <td>{{customer.birthday}}</td>
          <td>{{customer.idCard}}</td>
          <td>{{customer.phoneNumber}}</td>
          <td>{{customer.address}}</td>
          <td>{{customer.type.name}}</td>
          <td>
            <!-- Button modal edit -->
            <button id="modal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit">Edit
            </button>
          </td>
          <td>
            <button type="button" (click)="getId(customer.id)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Delete
            </button>
          </td>
        </tr>

      </table>
    </div>
</div>
  <!--end List -->

<!--modal xóa-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khách hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      Bạn có muốn xóa khách hàng này không?
      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="deleteCustomer()" data-dismiss="modal" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--end modal xóa-->

<!--   end Modal Create -->

<!--  &lt;!&ndash;Page&ndash;&gt;-->
<!--  <nav class="mt-2">-->
<!--    <ul class="pagination" style="justify-content: center">-->
<!--      <li class="page-item disabled">-->
<!--        <a class="page-link" href="#" tabindex="-1">Previous</a>-->
<!--      </li>-->
<!--      <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--      <li class="page-item active">-->
<!--        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>-->
<!--      </li>-->
<!--      <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--      <li class="page-item">-->
<!--        <a class="page-link" href="#">Next</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </nav>-->
<!--  &lt;!&ndash;end Page&ndash;&gt;-->

<!-- Modal edit -->
<!--<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div style="background: blue" class="modal-content">-->
<!--      <div class="modal-header d-flex justify-content-center bg-purple">-->
<!--        <h6 class="modal-title text-light" id="exampleModalLabel">Customer form</h6>-->
<!--      </div>-->
<!--      <div class="modal-body bg-white rounded-bottom">-->
<!--        <form  method="post" id="create-customer">-->
<!--          <input type="hidden" id="id1" placeholder="id">-->
<!--          <div class="row d-flex justify-content-around mb-3">-->
<!--            <div class="col-12">-->
<!--              <input id="codeCustomer" type="text" placeholder="Mã Khách Hàng" class="form-control form-control-sm">-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row d-flex justify-content-around my-3">-->
<!--            <div class="col-6">-->
<!--              <input id="nameCustomer" type="text" placeholder="Tên Khách Hàng" class="form-control form-control-sm">-->
<!--            </div>-->
<!--            <div class="col-6 pl-0">-->
<!--              <input id="gender" type="text" placeholder="Giới tính" class="form-control form-control-sm">-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row d-flex justify-content-around my-3">-->
<!--            <div class="col-6">-->
<!--              <input id="dayOfBirth" type="date" placeholder="Ngày sinh" class="form-control form-control-sm">-->
<!--            </div>-->
<!--            <div class="col-6">-->
<!--              <input id="numberPhone" type="text" placeholder="Số điện thoại" class="form-control form-control-sm">-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="row d-flex justify-content-around mt-3" id="address">-->
<!--            <div class="col-6">-->
<!--              <input type="text" placeholder="Địa chỉ" class="form-control form-control-sm">-->
<!--            </div>-->
<!--            <div class="col-6">-->
<!--              <input id="idCard" type="text" placeholder="Căn cước công dân" class="form-control form-control-sm">-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="row d-flex justify-content-around mt-3" id="typeCustomer">-->
<!--            <div class="col-12 ">-->
<!--              <select class="form-control form-control-sm" id="rentType" formControlName="type">-->
<!--                <option [ngValue]="temp" *ngFor="let temp of type">{{temp.name}}</option>-->
<!--              </select>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="row d-flex justify-content-around mt-3">-->
<!--            <div class="col-12">-->
<!--              <a href="#" class="btn btn-primary" (click)="createCustomer()">Save</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--end Modal Edit-->

<!-- Modal Create -->
<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div style="background: blue" class="modal-content">
      <div class="modal-header d-flex justify-content-center bg-purple">
        <h6 class="modal-title text-light" id="exampleModalLabel1">Customer form</h6>
      </div>
      <div class="modal-body bg-white rounded-bottom">
        <form [formGroup]="customerForm">
          <input type="hidden" id="id" placeholder="id" formControlName="id">
          <div class="row d-flex justify-content-around mb-3">
            <div class="col-12">
              <input formControlName="codeCustomer" id="codeCustomer1" type="text" placeholder="Mã Khách Hàng" class="form-control form-control-sm">
            </div>
          </div>
          <div class="row d-flex justify-content-around my-3">
            <div class="col-6">
              <input formControlName="nameCustomer" id="nameCustomer1" type="text" placeholder="Tên Khách Hàng" class="form-control form-control-sm">
            </div>
            <div class="col-6 pl-0">
              <input formControlName="gender" id="gender1" type="text" placeholder="Giới tính" class="form-control form-control-sm">
            </div>
          </div>
          <div class="row d-flex justify-content-around my-3">
            <div class="col-6">
              <input formControlName="birthday" id="dayOfBirth1" type="date" placeholder="Ngày sinh" class="form-control form-control-sm">
            </div>
            <div class="col-6">
              <input formControlName="phoneNumber" id="numberPhone1" type="text" placeholder="Số điện thoại" class="form-control form-control-sm">
            </div>
          </div>

          <div class="row d-flex justify-content-around mt-3" id="address1">
            <div class="col-6">
              <input formControlName="address" type="text" placeholder="Địa chỉ" class="form-control form-control-sm">
            </div>
            <div class="col-6">
              <input formControlName="idCard" id="idCard1" type="text" placeholder="Căn cước công dân" class="form-control form-control-sm">
            </div>
          </div>


          <div class="row d-flex justify-content-around mt-3" id="typeCustomer1">
            <div class="col-12 ">
              <select formControlName="type" class="form-control form-control-sm" id="rentType1">
                <option [ngValue]="temp" *ngFor="let temp of type">{{temp.name}}</option>
              </select>
            </div>
          </div>

          <div class="row d-flex justify-content-around mt-3">
            <div class="col-12">
              <a class="btn btn-primary" data-dismiss="modal"(click)="createCustomer()">Save</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
